# ==============================
# Python / Django
# ==============================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# migrations cache (НО сами .py файлы НЕ игнорим)
**/__pycache__/

# virtualenv
.venv/
venv/
env/


# SQLite DB (у тебя явно используется)
*.sqlite3


# ==============================
# IDE / Editor
# ==============================
.vscode/
.idea/
*.swp
*.swo

# ==============================
# Logs / temp
# ==============================
*.log
*.tmp
*.bak

# ==============================
# OS
# ==============================
.DS_Store
Thumbs.db

# ==============================
# Build / binaries
# ==============================
*.so
*.dll
*.dylib


# ==============================
# Secrets (рекомендуется)
# ==============================
.env
.env.*
*.env

# ==============================
# Coverage / tests
# ==============================
.coverage
htmlcov/
.pytest_cache/

# ==============================
# Node (если появится фронт сборка)
# ==============================
node_modules/
dist/
build/ ini